body {
	font: 'Raleway', sans-serif;
    color: rgba(0,0,0,0.8);
    text-shadow: -0.05em 0 white, 0 0.05em white, 0.05em 0 white, 0 -0.05em white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 15%;
	background: linear-gradient(to right, #ff0000 , #ffff00); /* Standard syntax */
}

h1 {
    font: 600 3.5em 'Raleway', sans-serif;
    color: rgba(0,0,0,.8);
    text-shadow: -0.05em 0 white, 0 0.05em white, 0.05em 0 white, 0 -0.05em white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;
}

h3 {
	font: 900 1em 'Raleway', sans-serif;
    color: rgba(0,0,0,0.8);
    text-shadow: -0.02em 0 white, 0 0.02em white, 0.02em 0 white, 0 -0.02em white;
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;

}
